
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #6be06b;
}


html, body, #root {
  background-color: var(--background-color);
}

body {
  font-family: sans-serif;
  }

.navbar,
footer,
main,
.bg-secondary,
.bg-light,
.bg-white {
  background-color: var(--background-color) !important;
}
/* Adicione no seu App.css (ou index.css) */
.crossword {
  font-family: Arial, sans-serif;
}
.crossword__grid {
  border: 2px solid #bbb;
  background: #f1eaea;
}
.crossword__cell--input {
  background: #fff !important;
  border: 1px solid #ddd;
}
.crossword__cell--highlighted {
  background: #ffe98a !important;
}
