
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --secondary: #10b981;
  --accent: #f59e0b;
  --background: #f9f9f9;
  --surface: #ffffff;
  --text: #1f2937;
}


body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--text);
}
/* Adicione no seu App.css (ou index.css) */
.crossword {
  font-family: Arial, sans-serif;
}
.crossword__grid {
  border: 2px solid #bbb;
  background: #f1eaea;
}
.crossword__cell--input {
  background: #fff !important;
  border: 1px solid #ddd;
}
.crossword__cell--highlighted {
  background: #ffe98a !important;
}
